# Ignore the Data folder and all its contents
Data/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore VS Code settings folder
.vscode/

# Ignore compiled files
*.class
*.o
*.pyc
